/*********Global*********/
.spacer1 {
	margin-bottom: 5em;

}
.spacer1 h3 {
	color: white;
}
.spacer1 label {
	color: white;
	font-size: 1.3em;
}
table {
	border-collapse: none;
	border-spacing: 0;
	border-color: none;
	border-radius: 100px;
}

table tr:nth-of-type(odd) {
background: rgba(255, 255, 255, .5);
}

.button {
	background-color: #2E8B57;
}
.sectionTitle {
	margin-top: 3em;
}
.top-bar {
	position: fixed;
	width: 100%;
	height: 3.8em;
	z-index: 100;
	margin-top: -4em;
}
.panel {
	background-color: rgba(51, 51, 51, .01);
	/*rgba(51, 51, 51, .85)*/
	border: none;
	color: white;
}
nav {
	margin-bottom: 2em;
}
.transbtm {
	background: url(../img/chopsTrans.png);
	background-size: contain;
	height: 270px;
	width: 100%;
	margin-top: -9.4%;
	/* margin-bottom: 3350px; */
	background-repeat: no-repeat;
	position: absolute;
}
/*********section specific*********/
.menuspecials {
	background: url(../img/bg1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 3.9em;
}
.ourmenu {
	background: url(../img/bg6Final.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.ourlocation {
	background: url(../img/bg4Final.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}
.ourhours {
	background: url(../img/bg5Final.jpg);
	background-size: cover;
	background-repeat: no-repeat;	
}

/*********Menu Specials*********/
.card {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-perspective: 5000;
  perspective: 5000; 
}
.card .container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  transition: 0.6s; 
}
.card .container .front, .card .container .back {
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; 
}
.card .container .front .row, .card .container .front .column, .card .container .front .columns, .card .container .back .row, .card .container .back .column, .card .container .back .columns {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; 
}

.card .container .front {
  z-index: 2; 
}

.card .container .back {
	background-color: white;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: scroll;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); 
}

.card .container:hover {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg); 
}

.card .container .front, .card .container .back {
  padding: 1em; 
}
.card.square .container {
  width: 100%;
  height: 0;
  padding-bottom: 100%; 
}
/*********Location*********/
#gmap {
	width: 275px;
	height: 250px; 
}                  
.row .row.collapse {
	margin-top: 1em;
}
.form1 {
	background-color: rgba(0, 0, 0, 0.66);
	border-radius: 10px;
}
/*********OUR Menu*********/
.pricing-table {
	border: none;
	background-color: none;
	margin-left: 20px;
}
.pricing-table .title {
	background-color: red;
	border-radius: 15px 15px 0 0;
	border-bottom: none;
	color: #EEE;
	font-size: 1.5rem;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.pricing-table .price {
	background-color: red; 
	color: #333;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	border-bottom: none;
}
ul.pricing-table .price {
  background: red;
}
.pricing-table .bullet-item {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-bottom: none;
}

.pricing-table .description {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 0 0 15px 15px;
	color: #F3EAEA;
	border-bottom: none;
}


/*********media queries******/
@media only screen and (min-width: 768px){
  .left-side { border-right: none; }
  .right-side { border-left: none; }
} 